.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 90px;
}
img{
  margin-left: 40px;
  width: 100px;
  height: auto;
}

.loginParentDiv {
  padding: 10px 5px 5px 10px;
  border: 1px solid black;
  width:max-content;
  height: 400px;
  border-radius: 6px;
  justify-content: center;
}

.loginParentDiv .input {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  outline-color: transparent;
}

.loginParentDiv button {
  width: 100%;
  height: 48px;
  /* border-color: transparent; */
  background-color: #002f34;
  color: whitesmoke;
  font-weight: 900;
}
.loginParentDiv button:hover {
  background-color: white;
  color: #002f34;
  border: 2px solid #002f34;
}

.loginParentDiv a {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
